@charset "UTF-8";

.IMAGEM{
    height: 442px;

    background-image: url(./assets/heroimg.jpg);
    background-size: cover;
    background-position: center;
}

.RESORT{
    width: 100%;
    min-width: 250px;
    max-width: 400px;
}

@media (min-width: 640px) {
    #abrir{
        display: none;
    }

    #fechar{
        display: none;
    }
}
